{% extends 'base.html' %}

{% block title %} All albums {% endblock %}

{% block subpage %} {% endblock %}

{% block user_panel %}
    {% if user.is_authenticated %}
        <div class="my-3">
            <a href="{% url 'gallery:create_album' %}"><strong>New Album &nbsp;</strong><i class="fas fa-plus"></i></a>
        </div>
    {% else %}
        <!-- add some space -->
        <div class="my-3">&nbsp;</div>
    {% endif %}
{% endblock %}

{% block content %}
<!-- Photo Grid -->
<ul class="photo-grid list-unstyled mb-4">
    {% for album in albums %}
        <li>
            <a href="{% url 'gallery:single_album' album_name=album %}" class="text-dark">
                <div class="card rounded-0">
                    <img class="card-img-top rounded-0" src="{% if album.random_image.url %}{{ album.random_image.url }}{% else %}{{ MEDIA_PREFIX }}/media/placeholder.png{% endif %}">
                    <div class="card-body">
                        <p class="card-text"> {{ album.name }}, {{ album.item_count }} </p>
                    </div>
                </div>
            </a>
        </li>
    {% empty %}
        <p>No items to display.</p>
    {% endfor %}
</ul>

{% endblock %}