{% extends 'base.html' %}

{% block title %} All albums {% endblock %}

{% block subpage %} All albums {% endblock %}

{% block user_panel %}
    {% if user.is_authenticated %}
    <hr>
    <p class="pl-3">
        <b>User Panel:&nbsp;</b>
        <a href="{% url 'gallery:create_album' %}"><b>New Album &nbsp;</b><i class="fas fa-edit"></i></a>
    </p>
    <hr>
    {% endif %}
{% endblock %}

{% block content %}

<!-- Photo Grid -->
<ul class="photo-grid list-unstyled">
    {% for album in albums %}
        <li>
            <a href="{% url 'gallery:single_album' album_name=album %}">
                <img src="{% if album.random_image.url %}{{ album.random_image.url }}{% else %}{{ MEDIA_PREFIX }}/media/placeholder.png{% endif %}">
            </a>
        </li>
    {% empty %}
        <p>No items to display.</p>
    {% endfor %}
</ul>

{% endblock %}