{% extends 'base.html' %}

{% block title %} Pictures by {{ author.first_name }} {% endblock %}

{% block content %}

<div class="d-flex justify-content-center flex-wrap">
{% for picture in pictures %}
	<div class="card m-2" style="width: 20rem;">
		<a href="{% url 'gallery:single_picture' pk=picture.pk %}">
			<img class="card-img-top" src="{{ picture.picture.url }}" alt="{{ picture.title }}" style="height: 12rem;">
		</a>
		<div class="card-body">
			<h5 class="card-title">{{ picture.title }}</h5>
			<p class="card-text">
				{{ picture.description }}
			</p>
			<p class="card-text">
				<b>Posted:</b>&nbsp; {{ picture.published_date|date:"F j, Y" }}
				<br>	
				<b>Author:</b>&nbsp; <a href="{% url 'gallery:author' author=picture.author.username %}">{{ picture.author.first_name }}</a>
			</p>
		</div>
	</div>
{% empty %}
	<p>No items to display.</p>
{% endfor %}
</div>
{% endblock %}