{% extends 'base.html' %}

{% block title %} Are you sure? {% endblock %}

{% block content %}
<div class="submission-form">
	<h3>Do you want to delete this picture?</h3>
		<a href="{% url 'gallery:single_picture' album_name=album_name pk=picture.pk %}">
			<img src="{{ picture.picture.url }}" style="width: 200px;">
		</a>
		<p>
			{{ picture.description }}
		</p>

		<form method="post">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button class="btn btn-primary" type="submit">Confirm</button>
		</form>
</div>
{% endblock %}