{% extends 'base.html' %}

{% block title %} Search results for '{{ request.GET.q }}' {% endblock %}

{% block subpage %} 
	{% if request.GET.q %}
		Search results for "{{ request.GET.q }}"
	{% endif %}
{% endblock %}


{% block content %}
<div class="submission-form">
{% if request.GET.q %}
	{% for picture in pictures %}
	<div class="card picture-container ml-2">
		<img class="card-img" src="{{ picture.picture.url }}">
		<div class="card-img-overlay">
			<a href="{% url 'gallery:single_picture' album_name=picture.album.name pk=picture.pk %}">
		</div>
	</div>
	{% empty %}
		<p class="my-4">No pictures matching search query.</p>
	{% endfor %}
{% else %}
	<h3>Search</h3>
	<form method="GET" action="{% url 'gallery:search' %}">
	    <div class="input-group">
	        <input type="text" class="form-control" placeholder="Type your query here..." name="q">
	        <div class="input-group-append">
	            <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
	        </div>
	    </div>
	</form>
{% endif %}
</div>
{% endblock %}