{% extends 'base.html' %}

{% block title %} {{ album_name }} {% endblock %}

{% block subpage %} 
<a href="{% url 'gallery:single_album' album_name=album_name %}" class="nav-link">
    Album: {{ album_name }} <span class="sr-only">(current)</span> 
</a> 
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center my-2">
	<a href="#">&laquo;Previous</a> &nbsp;|&nbsp; <a href="#">Next&raquo;</a>
</div>

<div class="p-3">
	<img class="mb-2" src="{{ picture.picture.url }}" style="max-width: 100%; height: auto;">
	
	<p class="px-2">{{ picture.description }}</p>

	<div class="row my-2 px-2">
		<div class="col-9 text-left">
			<b>Tags:</b>&nbsp;
			{% for name in picture.tags.names %}
				{% if not forloop.first %}, {% endif %}
				<a href="{% url 'gallery:tag_name' tag_name=name %}">{{ name }}</a>
			{% endfor %}
		</div>
		{% if user.is_authenticated %}
		<div class="col-3 text-right">
			<a href="{% url 'gallery:update_picture' album_name=album_name pk=picture.pk %}" data-toggle="tooltip" title="Update picture"><i class="fas fa-edit"></i></a>
			<a href="{% url 'gallery:delete_picture' album_name=album_name pk=picture.pk %}" data-toggle="tooltip" title="Delete picture"><i class="fas fa-trash-alt"></i></a>
	    </div>
	    {% endif %}
	</div>

	<div class="fb-comments pr-3" data-href="{{ request.build_absolute_uri }}" data-numposts="3" width="100%"></div>
</div>
{% endblock %}