{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>{% block title %} Django Gallery {% endblock %}</title>
</head>

<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-dark bg-dark sticky-top justify-content-between">
        <div class="col-md-8 text-left">
            <div class="row">
                <a href="{% url 'gallery:index' %}" class="navbar-brand">Django Gallery</a>
                <a href="{% url 'about' %}" class="navbar-text pl-3">About</a>
                <a href="{% url 'gallery:categories' %}" class="navbar-text pl-3">Categories</a>
                <form method="GET" action="{% url 'gallery:search' %}" class="form-inline pl-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search images..." name="q">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                {% if user.is_authenticated %}
                    <a href="{% url 'gallery:create_picture' %}" class="navbar-text pl-3"><b>Add picture</b></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 text-right">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="navbar-text pl-3"><b>Your profile</b></a>

            <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-success active"><b>{{ request.user.first_name }}</b> <i class="fas fa-user"></i></button>
                    <a href="{% url 'logout' %}?next={{ request.path | urlencode }}" class="btn btn-warning">Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
                {% else %}
                <div class="btn-group btn-group-sm" role="group">
                    <a href="{% url 'login' %}?next={{ request.path | urlencode }}" class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-primary">Register <i class="fas fa-user-plus"></i></a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12 py-4">
            {% block content %} {% endblock %}
        </div>
    </div>
    
    <footer class="footer bg-dark">
        <p>
            Copyright &copy; {% now "Y" %} by Author
            <br>
            <a href="#">Back to top</a>
        </p>
    </footer>

</body>
</html>