{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap Stuff -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    <title>{% block title %} Django Gallery {% endblock %}</title>
</head>

<body>
    <!-- Facebook comments -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'gallery:index' %}">Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-md-10">
                <li class="nav-item pt-1">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item pt-1">
                    <a class="nav-link" href="{% url 'gallery:albums' %}">Albums</a>
                </li>
                <li class="nav-item pt-1">
                    <a class="nav-link" href=""><i class="fas fa-lg fa-search"></i></a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'gallery:search' %}">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search images..." name="q">
                    <div class="input-group-append">
                        <button class="btn btn-dark active" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form> -->
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-cog fa-2x fa-spin-hover"></i></a>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Gallery Actions</h6>
                        <a class="dropdown-item" href="{% url 'gallery:create_album' %}">Manage Albums</a>
                        <a class="dropdown-item" href="{% url 'gallery:create_picture' %}">Upload Pictures</a>
                        <h6 class="dropdown-header">User Actions</h6>
                        <a class="dropdown-item" href="{% url 'profile' %}">Your Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path | urlencode }}" class="btn btn-light btn-sm">Sign In</a>
            {% endif %}
        </div>
    </nav>

    <!-- <nav class="collapse navbar-collapse navbar-dark bg-dark sticky-top justify-content-between">
        <ul>
        <div class="col-md-6 text-left">
            <div class="row">
                <a href="" class="navbar-brand">Gallery</a>
                <a href="{% url 'about' %}" class="navbar-text pl-3">About</a>
                <a href="{% url 'gallery:albums' %}" class="navbar-text pl-3">Albums</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'gallery:create_picture' %}" class="navbar-text pl-3">
                        <b>Upload pictures</b>
                    </a>
                {% endif %}
            </div>
               
                <button onclick="toggleSearchBox()" id="searchbutton" class="btn btn-dark btn-sm active" type="button"><i class="fas fa-search"></i></button>
                <div id="searchbox">
                    <form method="GET" action="{% url 'gallery:search' %}">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button onclick="toggleSearchBox()" class="btn btn-dark active" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="Search images..." name="q">
                        </div>
                    </form>
                </div>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        <b>
                            {% if request.user.first_name %}
                                {{ request.user.first_name }}
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}
                        </b>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'profile' %}">Your Profile &nbsp;<i class="fas fa-user"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout &nbsp;<i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}?next={{ request.path | urlencode }}" class="btn btn-light btn-sm">
                        Sign In <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                {% endif %}
        </div>
    </nav> -->
    <div class="container">
        <div class="col-md-12 py-4">
            <div class="card p-4" style="margin: auto;">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    
<!--     <footer class="footer bg-dark">
        <p>
            Copyright &copy; {% now "Y" %} by Author
            <br>
            <a href="#">Back to top</a>
        </p>
    </footer> -->

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints & infinite scroll-->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
</body>
</html>