body {
	background: url("/static/bg.jpg");
	background-repeat: repeat;
}

.container {
	margin-bottom: 4rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5rem;
	padding-top: 1rem;
	text-align: center;
}

.footer p {
	color: #f9f9f9;
}

.errorlist {
	list-style-type: none;
}